<div class="modal fade" id="visualizar_denuncia" tabindex="-1" role="dialog" aria-labelledby="DenunciandoFormulario" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DenunciandoFormulario">Visualizando formulário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th class="col-4 text-center" scope="col">Denunciante</th>
                                    <th class="col-8 text-center" scope="col">Descrição da denúncia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="col-4 text-center" scope="row">Fulano</th>
                                    <td class="col-8" scoppe="row">Este formulário contém linguagem inadequada e me ofende.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <hr>
                    <h5 class="modal-title">Formulário denunciado</h5>
                    <hr>
                    <div class="form-group">
                        <p>Título: </p>
                        <p>Descrição: </p>
                        <p>Autor: </p>
                        <p>Alternativas: </p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm">Arquivar denúncia</button>
                <button type="button" class="btn btn-danger btn-sm">Excluir formulário</button>
            </div>
        </div>
    </div>
</div>