<div class="tab-pane container fade" id="texto_longo">
    <br>
    <form>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Título:</label>
            <input type="text" class="form-control" id="recipient-name"
                placeholder="Insira um título a pergunta que você deseja fazer">
        </div>
        <div class="form-group">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="message-text"
                placeholder="Descreva a pergunta que você deseja fazer"></textarea>
        </div>
        <br>
        <h4>Alternativas de seleção:</h4>
        <p>Insira as alternativas a serem respondidas.</p>
        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text"><input type="radio"></div>
                </div>
                <input type="text" class="form-control"
                    placeholder="A -> Insira uma opção neste campo">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text"><input type="radio"></div>
                </div>
                <input type="text" class="form-control"
                    placeholder="B -> Insira uma opção neste campo">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text"><input type="radio"></div>
                </div>
                <input type="text" class="form-control"
                    placeholder="C -> Insira uma opção neste campo">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <div class="input-group-text"><input type="radio"></div>
                </div>
                <input type="text" class="form-control"
                    placeholder="D -> Insira uma opção neste campo">
            </div>
        </div><br>
        <h4>Parâmetros de conclusão:</h4>
        <p>O formulário será encerrado automaticamente ao atingir um dos dois parâmetros
            abaixo.</p>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Quantidade de votos:</label>
            <input type="number" class="form-control" id="" value="1000">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tempo de duração:</label>
            <input type="time" class="form-control" id="" value="01:00:00">
        </div><br>
        <h4>Imagem para exibição:</h4>
        <p>Escolha uma imagem que destaque ou descreva o seu formulário.</p>
        <div class="form-group">
            <input type="file" class="form-control-file">
        </div>
    </form>
</div>






<div class="tab-pane container fade" id="numerico">
    <br>
    <form>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Título:</label>
            <input type="text" class="form-control" id="recipient-name"
                placeholder="Insira um título a pergunta que você deseja fazer">
        </div>
        <div class="form-group">
            <label for="message-text" class="col-form-label">Descrição:</label>
            <textarea class="form-control" id="message-text"
                placeholder="Descreva a pergunta que você deseja fazer"></textarea>
        </div>
        <br>
        <h4>Parâmetros de conclusão:</h4>
        <p>O formulário será encerrado automaticamente ao atingir um dos dois parâmetros
            abaixo.</p>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Quantidade de
                respostas:</label>
            <input type="number" class="form-control" id="" value="1000">
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Tempo de duração:</label>
            <input type="time" class="form-control" id="" value="01:00:00">
        </div><br>
        <h4>Imagem para exibição:</h4>
        <p>Escolha uma imagem que destaque ou descreva o seu formulário.</p>
        <div class="form-group">
            <input type="file" class="form-control-file">
        </div>
    </form>
</div>