<div class="container">
    <div class="row">
        <div class="col-12">
            <hr>
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#principal">Principal</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#categoria1">Categoria 1</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#meus_formularios">Meus formulários</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#minhas_respostas">Minhas respostas</a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#formularios_encerrados">Encerrados</a></li>
            </ul>
            <hr>
        </div>
    </div>
</div>