<div class="tab-pane container fade" id="categoria1">
    <div class="row">
        <div class="col col-lg-12 p-1">
            <h3>Categoria 1</h3>
            <p>Local para as perguntas da categoria 1.</p>
        </div>
    </div>
</div>