<div class="tab-pane container fade" id="minhas_respostas">
    <div class="row">
        <div class="col col-lg-12 p-1">
            <h3>Minhas respostas</h3>
            <p>Local onde estará as perguntas que eu respondi.</p>
        </div>
    </div>
</div>