<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Painel do administrador</title>
    <% include ./partials/generalMetaTags %>
	<% include ./partials/generalLinksScripts %>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <div class="list-group">
                    <button type="button" class="list-group-item font-weight-bold">
                        Acesso rápido
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <a href="/home">Página inicial</a>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="tab" href="#gerenciar_denuncias">
                        Gerenciar Denúncias
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <a href="/perfil">Perfil do usuário</a>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action" data-toggle="tab" href="#informacoes_extras">
                        Informações Extras
                    </button>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content">
                    <div class="tab-pane container" id="gerenciar_denuncias">
                        <div class="card">
                            <h5 class="card-title text-center">Gerenciar denúncias</h5>
                        </div><br>
                        
                        
                        <div class="card-deck">
                            <div class="card">
                                <div class="card-header">
                                    Conteúdo impróprio
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Descrição da denuncia</p>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group flex-row">
                                        <button type="submit" class="btn btn-sm btn-primary">Cancelar</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Aceitar</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card">
                                <div class="card-header">
                                    Conteúdo ofensivo
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Descrição da denuncia</p>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group flex-row">
                                        <button type="submit" class="btn btn-sm btn-primary">Cancelar</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Aceitar</button>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    Conteúdo sem alternativa correta
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Descrição da denuncia</p>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group flex-row">
                                        <button type="submit" class="btn btn-sm btn-primary">Cancelar</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Aceitar</button>
                                    </div>
                                </div>
                            </div>
                        

                            <div class="card">
                                <div class="card-header">
                                    Conteúdo difama alguém
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Descrição da denuncia</p>
                                </div>
                                <div class="card-footer">
                                    <div class="form-group flex-row">
                                        <button type="submit" class="btn btn-sm btn-primary">Cancelar</button>
                                        <button type="submit" class="btn btn-sm btn-primary">Aceitar</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                    <div class="tab-pane container" id="informacoes_extras">
                        <p>Informações extras</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>