<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Painel do administrador</title>
    <% include ./partials/generalMetaTags %>
	<% include ./partials/generalLinksScripts %>
</head>
<body>
	<!-- Includes -->
    <% include ./partials/navbar %>
    <% include ./partials/dashboard/visualizar.ejs %>
    </br></br>
<!-- Corpo -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="d-flex flex-column align-items-center">
                        <h5>Acesso rápido</h5>
                    </div>
                </li>
                <li class="list-group-item">Página Inicial</li>
                <li class="list-group-item">Gerenciar Denúncias</li>
                <li class="list-group-item">Informações Extras</li>
            </ul></br>
        </div>

        <div class="col-sm-10">
            
            <ul class="nav nav-pills d-flex justify-content-around">
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#conteudo_improprio" style="background: none; color: rgb(143, 68, 173);">
                    Conteúdo Impróprio
                </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#conteudo_ofensivo" style="background: none; color: rgb(143, 68, 173);">
                    Conteúdo ofensivo
                </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#conteudo_sem_correta" style="background: none; color: rgb(143, 68, 173);">
                    Conteúdo sem alternativa correta
                </a></li>
                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#conteudo_difama" style="background: none; color: rgb(143, 68, 173);">
                    Conteúdo difama alguém
                </a></li>
            </ul>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="tab-content">
                        <div class="tab-pane container active" id="conteudo_improprio">
                            <% include ./partials/dashboard/improprio.ejs %>
                        </div>
                        <div class="tab-pane container fade" id="conteudo_ofensivo">
                            <% include ./partials/dashboard/ofensivo.ejs %>
                        </div>
                        <div class="tab-pane container fade" id="conteudo_sem_correta">
                            <% include ./partials/dashboard/sem_correta.ejs %>
                        </div>
                        <div class="tab-pane container fade" id="conteudo_difama">
                            <% include ./partials/dashboard/difama.ejs %>
                        </div>
                    </div>
                </li>
            </ul>		
        </div>
    </div>
    <br>
</div>
</body>
</html>