<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br">

<head>
	<title></title>
	<% include ./partials/generalMetaTags %>
	<% include ./partials/generalLinksScripts %>
</head>

<body>
	<!-- Navbar -->
	<% include ./partials/navbar %>
	<!-- Jumbotron -->
	<% include ./partials/home/jumbotron %>
	<!-- Categories -->
	<% include ./partials/home/categories %>	
	<!-- Seleção de formulários -->
	<div class="container">
		<div class="tab-content">
			<!-- TAB VIEW - PÁGINA PRINCIPAL -->
			<% include ./partials/home/tabViews/principal %>
			<!-- TAB VIEW - PÁGINA CATEGORIA 1 -->
			<% include ./partials/home/tabViews/categoria1 %>
			<!-- TAB VIEW - PÁGINA MEUS FORMULÁRIOS -->
			<% include ./partials/home/tabViews/meusFormularios %>
			<!-- TAB VIEW - PÁGINA MINHAS RESPOSTAS -->
			<% include ./partials/home/tabViews/minhasRespostas %>
			<!-- TAB VIEW - PÁGINA FORMULÁRIOS ENCERRADOS -->
			<% include ./partials/home/tabViews/encerrados %>
			
		</div>
	</div>
	<hr>

	<!-- Modal - Criar formulário -->
	<div class="container">
		<% include ./partials/home/createForm %>
		<!-- DENUNCIAR FORMULÁRIO -->
		<% include ./partials/home/reports %>
	</div>

	<!-- FOOTER -->
	<% include ./partials/footer %>
</body>

<script>
 	$(".nav-item").click(function() {
		if($(window).height() > $('body').height().delay(2000)) {
			console.log("A");
			$('.teste').addClass('footer');
		} 
		else {
			$('.teste').removeClass('footer');
		}
	}); 
</script>
</html>