<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br">

<head>
	<title></title>
	<% include ./partials/generalMetaTags %>
	<% include ./partials/generalLinksScripts %>
</head>

<body>
	<!-- Navbar -->
	<% include ./partials/navbar %>
	<!-- Jumbotron -->
	<% include ./partials/home/jumbotron %>
	<!-- Categories -->
	<% include ./partials/home/categories %>
	<!-- RESPOSTA Register -->
	<% include ./login %>

	<!-- Seleção de formulários -->
	<div class="container">
		<div class="tab-content">
			<!-- TAB VIEW - PÁGINA PRINCIPAL -->
			<% include ./partials/home/tabViews/principal %>
			<!-- TAB VIEW - PÁGINA CATEGORIA 1 -->
			<% include ./partials/home/tabViews/categoria1 %>
			<!-- TAB VIEW - PÁGINA MEUS FORMULÁRIOS -->
			<% include ./partials/home/tabViews/meusFormularios %>
			<!-- TAB VIEW - PÁGINA MINHAS RESPOSTAS -->
			<% include ./partials/home/tabViews/minhasRespostas %>
			<!-- TAB VIEW - PÁGINA FORMULÁRIOS ENCERRADOS -->
			<% include ./partials/home/tabViews/encerrados %>
			
		</div>
	</div>
	<hr>

	<!-- Modal - Criar formulário -->
	<div class="container">
		<div class="modal fade" id="criar_formulario_me" tabindex="-1" role="dialog" aria-labelledby="CriandoFormulario"
			aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="CriandoFormulario">Criando formulário</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">		
						<div class="row">
							<!-- CATEGORIAS DE CRIAÇÃO -->
							<% include ./partials/home/createCategories %>
						</div>
						<hr>
						<div class="tab-content">
							<!-- MULTIPLA ESCOLHA -->
							<% include ./partials/home/createMultipleChoice %>
							<!-- CAIXAS DE SELEÇÃO -->
							<% include ./partials/home/createSelectionbox %>
							<!-- TEXTO CURTO -->
							<% include ./partials/home/createShortText %>
							<!-- RESPOSTA LONGA -->
							<% include ./partials/home/createLongText %>
							<!-- RESPOSTA NUMÉRICA -->
							<% include ./partials/home/createNumeric %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- DENUNCIAR FORMULÁRIO -->
		<% include ./partials/home/reports %>
	</div>

	<!-- FOOTER -->
	<% include ./partials/footer %>
</body>

<script>
 	$(".nav-item").click(function() {
		if($(window).height() > $('body').height().delay(2000)) {
			console.log("A");
			$('.teste').addClass('footer');
		} 
		else {
			$('.teste').removeClass('footer');
		}
	}); 
</script>
</html>