<!DOCTYPE html>
<html lang="pt-br" xml:lang="pt-br">

<head>
	<title></title>
	<% include ./partials/generalMetaTags %>
	<% include ./partials/generalLinksScripts %>
</head>

<body>
	<!-- Includes -->
	<% include ./partials/navbar %>
	<!-- Jumbotron -->
	<div class="jumbotron jumbotron-fluid text-center m-1">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h4>Primeira vez aqui?</h4>
					<p>Texto de divulgação do site.</p>
				</div>
				<div class="col-6">
					<h4>Crie uma conta</h4>
					<p>A plataforma é gratuíta para usar.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer bg-dark text-center">
		<div class="container">
			<span class="text-white ">Footer - Copyright 2019</span>
		</div>
	</footer>

	
</body>
</html>