<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
		integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link type="text/css" rel="stylesheet" media="screen" href="/css/bootstrap.min.css" />
	<link href="/css/estilo.css" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="/js/popper.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/loader.js"></script>
</head>

<body>
	<!-- Includes -->
	<% include ./partials/navbar %>
	</br></br>
	<!-- Corpo -->
	<div class="container">
		<div class="row">
			<div class="col-sm-8 mx-auto">
				<div class="card">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Recupere a sua conta</h4>
					</div>
					<div class="card-body">
						<form action="/notUser">
							<div class="form-group row">
								<label for="recuperarEmail" class="col-sm-3 col-form-label">Email</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="recuperarEmail"
										placeholder="Insira o seu endereço de email" required>
								</div>
							</div>
							<div class="form-group row">
								<label for="Captcha" class="col-sm-3 col-form-label">Verificação</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="Captcha"
										placeholder="Insira o CAPTCHA da imagem" required>
								</div>
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">Solicitar recuperação de
									senha</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer class="footer bg-dark text-center">
		<div class="container">
			<span class="text-white ">Footer - Copyright 2019</span>
		</div>
	</footer>
	<!-- Login -->
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script>
		window.fbAsyncInit = function () {
			FB.init({
				appId: '900308723642047',
				cookie: true,
				xfbml: true,
				version: 'v3.3'
			});
			FB.AppEvents.logPageView();
		};

		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) { return; }
			js = d.createElement(s); js.id = id;
			js.src = "https://connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

		//API do Google Login
		var startApp = function () {
			gapi.load('auth2', function () {
				// Retrieve the singleton for the GoogleAuth library and set up the client.
				auth2 = gapi.auth2.init({
					client_id: "" /**----------- Colocar ID do google aqui ------------*/,
					cookiepolicy: 'single_host_origin',
					// Request scopes in addition to 'profile' and 'email'
					//scope: 'additional_scope'
				});
				auth2.attachClickHandler('customBtn', {}, onSuccess, onFailure);
			});
		};
		var onSuccess = function (user) {
			var form = document.createElement('form');
			document.body.appendChild(form);
			form.method = 'post';
			form.action = '/auth/google';
			var input = document.createElement('input');
			input.type = 'hidden';
			input.name = 'id_token';
			input.value = user.getAuthResponse().id_token;
			form.appendChild(input);
			form.submit();
		};

		var onFailure = function (error) {
			console.log(error);
		};
	</script>
	<div class="modal fade" id="entrar" tabindex="-1" role="dialog" aria-labelledby="entrar" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="entrar">Faça login.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/login" method="POST">
						<div class="form-group row">
							<label for="inserirEmail" class="col-sm-3 col-form-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" id="inserirEmail"
									placeholder="Insira o seu email" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inserirSenha" class="col-sm-3 col-form-label">Senha</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="inserirSenha"
									placeholder="Insira a sua senha" required>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-12">
								<div class="form-check">
									<a href="/resetPassword">Esqueceu a sua senha?</a>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">Entrar</button>
						</div>
						<div class="form-group">
							<a href="/auth/facebook">login com facebook</a>
							<a href="/auth/linkedin">login com Linkedin</a>
							<a href="/auth/google">login com o google</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Register -->
	<div class="modal fade" id="registrar" tabindex="-1" role="dialog" aria-labelledby="Registrar" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registrar">Crie a sua conta.</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/registro" method="POST">
						<div class="form-group row">
							<label for="inserirNome" class="col-sm-3 col-form-label">Nome completo</label>
							<div class="col-sm-9">
								<input type="text" name="nome" class="form-control" id="inserirNome"
									placeholder="Insira o seu nome" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inserirEmail" class="col-sm-3 col-form-label">Email</label>
							<div class="col-sm-9">
								<input type="email" name="email" class="form-control" id="inserirEmail"
									placeholder="Insira o seu email" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inserirSenha" class="col-sm-3 col-form-label">Senha</label>
							<div class="col-sm-9">
								<input type="password" name="password" class="form-control" id="inserirSenha"
									placeholder="Insira a sua senha" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="repetirSenha" class="col-sm-3 col-form-label">Repetir senha</label>
							<div class="col-sm-9">
								<input type="password" name="confirm" class="form-control" id="repetirSenha"
									placeholder="Reinsira a sua senha" required>
							</div>
						</div>
						<div class="form-group row">
							<label for="inserirGenero" class="col-sm-3 col-form-label">Gênero</label>
							<div class="col-sm-9">
								<select class="form-control" name="genero" id="inserirGenero" required>
									<option selected value="">Selecione</option>
									<option value="masculino">Masculino</option>
									<option value="feminino">Feminino</option>
									<option value="outro">Outro</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="inserirNome" class="col-sm-3 col-form-label">Idade</label>
							<div class="col-sm-9">
								<input type="number" name="idade" class="form-control" id="inserirNome" min="18"
									placeholder="Insira a sua idade" required>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-12">
								<div class="form-check">
									<input class="form-check-input" name="aceitarTermos" type="checkbox"
										id="aceitarTermos" required>
									<label class="form-check-label" for="aceitarTermos">Eu aceito os termos de
										uso.</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit">Registrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>